html
  include ../includes/head.pug

  body
 
    header
      include ../components/nav.pug
 
    main
      .container
        .main-content
          block content

    include ../includes/footer.pug
    // build:js
    script(src='js/vendor.js')
    script(src='js/bundle.js')
    // endbuild
