.center-align
  img.hero(src='img/img.png')
  h4 Notes:
  p Add temp paths between 'build:css' in head, on gulp:build these paths will be resolved to dist paths
  p Temp path for JS is below, browserify/babelify moves es6 js into app/js/main.js
  #test 
  