block _config
  include ../_config

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title #{pageTitle}
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  // build:css
  link(rel='stylesheet', type='text/css', href='css/materialize.css')
  link(rel='stylesheet', type='text/css', href='css/styles.css')
  // endbuild
  